{
  "extends": [
    "../../.eslintrc.json",
    "airbnb",
    "airbnb/hooks",
    "plugin:jsx-a11y/recommended"
  ],
  "plugins": ["react", "jsx-a11y"],
  "parserOptions": {
    "ecmaVersion": "latest",
    "ecmaFeatures": {
      "impliedStrict": true,
      "jsx": true
    }
  },
  "ignorePatterns": [
    "server.js"
  ],
  "rules": {
    "import/no-relative-packages": 0,
    "linebreak-style": ["error", "unix"],
    "react/function-component-definition": 0,
    "react/jsx-props-no-spreading": 0
  }
}
