{
  "extends": [
    "../../.eslintrc.json",
    "airbnb",
    "airbnb/hooks",
    "plugin:jsx-a11y/recommended"
  ],
  "plugins": ["react", "jsx-a11y"],
  "parserOptions": {
    "ecmaVersion": "latest",
    "ecmaFeatures": {
      "impliedStrict": true,
      "jsx": true
    }
  },
  "ignorePatterns": [
    "server.js"
  ],
  "rules": {
    "linebreak-style": 0,
    "eslint linebreak-style": [0, "error", "windows"],
    "react/function-component-definition": 0,
    "react/jsx-props-no-spreading": "off",
    "jsx-a11y/anchor-is-valid": ["error", {
      "components": ["Link"],
      "specialLink": ["to"]
    }]
  }
}
