{
  "extends": ["react-app", "airbnb", "plugin:jsx-a11y/recommended"],
  "plugins": ["jsx-a11y"],
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "impliedStrict": true,
      "jsx": true
    }
  },
  "ignorePatterns": [
    "server.js"
  ],
  "rules": {
    "linebreak-style": 0,
    "eslint linebreak-style": [0, "error", "windows"],
    "react/function-component-definition": 0,
    "react/jsx-props-no-spreading": "off",
    "jsx-a11y/anchor-is-valid": ["error", {
      "components": ["Link"],
      "specialLink": ["to"]
    }]
  }
}
